<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://c4.wallpaperflare.com/wallpaper/294/936/57/techno-minimalism-music-wallpaper-preview.jpg"
      cardTitle="Seu site Technonology"
      cardDescription="Encontre aqui todas as novidades sobre o mundo Tech e high-tech"
    ></app-big-card>
  </div>
  <div class="article__others">
    <app-small-card
      Id="2"
      photoCover="https://c4.wallpaperflare.com/wallpaper/948/524/61/windows-10-techno-wallpaper-preview.jpg"
      cardTitle="Artigo Software High-Tech"
    ></app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://c4.wallpaperflare.com/wallpaper/662/435/705/pattern-design-art-techno-wallpaper-preview.jpg"
    cardTitle="Artigo Old Music High-Tech"
    ></app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://c4.wallpaperflare.com/wallpaper/552/469/133/optical-illusion-optical-art-black-white-wallpaper-preview.jpg"
    cardTitle="Artigo Illusion High-Tech"
    ></app-small-card>
  </div>
</div>
